<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hello, world!</h1>
	<div ng-app='testApp' ng-controller='myCtrl'>
  <h3 ng-class="txt=='aa'?'cl-blue':'cl-red'">class: {{txt}}</h3>  
  <h3 ng-hide="txt=='ab'">hidden: {{txt}}</h3>
  <input type="text" ng-model='txt'></input><input type="text" ng-model='txt'></input>
<button ng-click='goUpdate()'>click here</button>
<p>{{ txt=='abc' ? 'true' : 'false' }}</p>
<img ng-src='{{ima}}'>
<hr/>
<input ng-model='search' />
<table border=1 width='100%' class='table table-hover'>
  <tr>
  <th>omg</th>
    <th>name</th>
    <th>age</th>
  </tr>
  <tr ng-repeat='user in users | filter: search'>
    <td><img ng-src='{{user.img}}'></td>
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
  </tr>
  <tr>
  </tr>
</table>
<!--------------------------------->
</div>

	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>    
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
<script>
angular.module('testApp', [])
  .controller('myCtrl', function ($scope, $timeout, $http) {
  $scope.txt = 'abc';
  
  $scope.goUpdate = function() {
    $scope.txt = 'aaaaaa';
  };  
});
</script>